footer {
  background-color: #222;
  border-top: 1em solid #444;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ddd;
}

footer ul {
  color: #fff;
  list-style: none;
  padding: 0;
}

footer .Footer-Content {
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

footer .Footer-Column {
  padding: .5em;
  align-items: stretch;
}

footer .Made-With-Column {
  max-width: 30%;
  align-self: center;
}

footer .Made-With {
  font-family: 'open_sanslight';
  color: gray;
  font-size: 1em;
  text-transform: uppercase;
  word-wrap: break-word;
}

footer .Made-With > .Heart {
  color: red;
}

footer .ui.header {
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .Footer-Column {
    width: 100%;
  }

  footer .Made-With-Column {
    max-width: 100%;
    padding-bottom: 2em;
    text-align: center;
  }

  footer .ui.header {
    text-align: left;
    border-bottom: 1px solid gray;
  }
}
