.Photo-Details-Wrapper {
  width: 100%;
  background-color: #fff;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.Map-Item {
  height: 25em;
  width: 100%;
  max-width: 30em;
}

.Map {
  height: 100%;
  width: 100%;
}

