.Photo-Details-Container {
  background-color: #fff;
}

.Photo-Details-Wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}

.Flex-Item {
  align-self: center;
}

.Map-Item {
  height: 20em;
  flex-basis: 50%;
  flex-grow: 1;
}

.Map {
  height: 100%;
  width: 100%;
}

