.NavBar-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;
}

.NavBar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  font-weight: 400;
}

.NavBar > div {
  display: flex;
}

.NavItem {
  display: flex;
}

.NavItem a {
  padding: .85em 1.14em .85em 1.14em;
  color: rgba(255,255,255,.7);
  transition: color .2s ease;
}

.NavItem a:hover {
  color: #fff;
}

.NavItem a.active {
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.NavButton {
  align-self: center;
}

.NavButton.ToggleNav {
  display: none;
  align-self: flex-end;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .NavBar {
    flex-direction: column;
  }

  .NavBar.Hidden {
    display: none;
  }

  .NavBar > div {
    flex-direction: column;
  }

  .NavItem {
    justify-content: space-around;
  }

  .NavItem a {
    text-align: center;
    width: 75%;
  }

  .NavButton.ToggleNav {
    display: inherit;
    align-self: flex-end;
  }
}
